<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生住宿服务系统</title>
<meta charset="utf-8">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->


<!--
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
     <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
</style>
</head>
<body>
	<!--顶部导航 -->

	<div class="header">
		<nav class="navbar navbar-inverse ">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">学生住宿服务系统</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">首页</a></li>
					<li><a th:href="@{/student/login}">学生登陆</a></li>
					<li><a th:href="@{/master/login}">房主登陆</a></li>
					<li><a th:href="@{/student/register}">学生注册</a></li>
					<li class="active"><a th:href="@{/master/register}">房主注册</a></li>
				</ul>
			</div>
		</nav>
	</div>





	<!-- 登录表单-->
	<div class="container">
		<div class="col-md-6 col-offset-3">
			<h1>房屋登记</h1>
			<form class="form-horizontal" role="form"
				th:action="@{/master/{id}/houseRegister(id=${master.id})}"
				th:object="${house}" method="post" th:method="post">

				<div class="form-group row">
					<label for="address" class="col-md-3 col-form-label">房屋地址：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="address"
							placeholder="请输入房屋地址" th:field="*{address}">
					</div>
				</div>
				<div class="form-group row">
					<label for="type" class="col-md-3 col-form-label">类型：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="type"
							placeholder="请输入单间/套间" th:field="*{type}">
					</div>
				</div>
				<div class="form-group row">
					<label for="capacity" class="col-md-3 col-form-label">可住人数：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="capacity"
							placeholder="请输入可住人数" th:field="*{capacity}">
					</div>
				</div>
				<div class="form-group row">
					<label for="price" class="col-md-3 col-form-label">房租：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="price"
							placeholder="请输入房租" th:field="*{price}">
					</div>
				</div>
				<div class="form-group row">
					<label for="status" class="col-md-3 col-form-label">是否可租：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="status"
							placeholder="请输入现在是否可以出租" th:field="*{status}">
					</div>
				</div>
				<div class="form-group row">
					<input class="btn btn-block" type="submit" value="提交" />
				</div>
			</form>
		</div>
	</div>
	<!-- 底部-->
	<div class="footer"></div>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="">意见反馈</a></li>
				<li><a href="">网站声明</a></li>
				<li><a href="">使用帮助</a></li>
				<li><a href="">联系我们</a></li>
				<li><a href="">Copyright © 2018 All rights reserved.</a></li>

			</ul>
		</div>

	</div>

	<!-- Javascript -->
	<script src="assets/login_assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/login_assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/login_assets/js/jquery.backstretch.min.js"></script>
	<script src="assets/login_assets/js/scripts.js"></script>
</body>
</html>